<div class='wrapper'>
  <div class='genre'>
    <div class="genre-new">
      <div class="create-genre">
        <%= link_to "キャンセル", root_path %>
      </div>
      <div class='genrename-form'>
        <%= form_with(model: @genre, local: true) do |f| %>
          <div class='genrename-form__field'>
            <%= f.label :ジャンル名の編集, class: 'genrename-form__label'%>
            <%= f.text_field :name, class: 'genrename-form__input', placeholder: 'ジャンル名を入力'%>
            <%= f.submit value="変更", class: 'genrename-form__action-btn'%>
          </div>
        <% end %>
      </div>
    </div>
    <%= render "memos/genre_bar" %>
  </div>
  <%# 全てのメモ一覧 %>
  <div class="memo">
    <div class="genre-box">
      <span class="genre-label" >メモ一覧</span>
      <div class="memo-list">
        <div class="upper-memo">
        <% @memos.each do |memo| %>
          <p class="memo-title"><%= memo.title %><%= l memo.created_at%><p>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>