<div class='wrapper'>
  <div class='genre'>
    <%= render "memos/genre_bar" %>
  </div>
  <%# 全てのメモ一覧 %>
  <div class="memo">
    <div>
      <%= form_with(url: search_genre_memos_path(@memos), local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "メモを検索", class: "search-input" %>
        <%= form.submit "", class: "search-btn" %>
      <% end %>
    </div>
    <div class="genre-box">
      <span class="genre-label" >メモ一覧</span>
      <div class="memo-list">
        <div class="upper-memo">
          <% @memos.each do |memo| %>
            <p class="memo-title"><%= memo.title %><%= l memo.created_at%><%= link_to image_tag("icon_059830_32.png", width: '20'), genre_memo_path(@genre, memo.id), method: :get %><p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>