<div class='wrapper'>
  <div class='genre'>
    <%= render "memos/genre_bar" %>
  </div>
  <%# 全てのメモ一覧 %>
  <div class="memo">
    <div>
      <%= form_with(url: search_genre_memos_path(@memos), local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "メモを検索する", class: "search-input" %>
        <%= form.submit "検索", class: "search-btn" %>
      <% end %>
    </div>
    <%# <% @memos.each do |memo| %>
    <%# 未 genreのname追加 %>
    <div class="genre-box">
      <span class="genre-label" >メモ一覧</span>
      <%= render partial: 'memos/memo', collection: @memos %>
    </div>
      <%# <%= memo.title %>
      <%# <%= memo.created_at %>
    <%# <% end %>
  </div>
</div>