<div class='wrapper'>
  <div class='genre'>
    <div class="home">
      <p class="icon" >
        <%= link_to image_tag("home-icon.png", width: '25'), root_path %>
        <br>home</br>
      </p>
      <p class="icon" >
        <%= link_to image_tag("icon_038490_256.png", width: '25'), destroy_user_session_path, method: :delete %>
        <br>Logout</br>
      </p>
    </div>
    <%= render "memos/genre_bar" %>
  </div>
  <%# 全てのメモ一覧 %>
  <div class="memo">
    <%= form_with(url: search_genre_memos_path(@memos), local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "メモを検索", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>
    <div class="genre-box">
      <span class="genre-label" >メモ一覧</span>
      <div class="memo-list">
        <div class="upper-memo">
          <% @memos.each do |memo| %>
            <p class="memo-title"><%= memo.title %><%= l memo.created_at%><%= link_to image_tag("icon_059830_32.png", width: '20'), genre_memo_path(@genre, memo.id), method: :get %><p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>