<div class="genre-header">
  <div class="create-genre">
    <%= link_to "ジャンルを作成", new_genre_path %>
  </div>
</div>
<div class="geres-lists">
  <% current_user.genres.each do |genre| %>
    <div class="genre-list-name">
      <div class="genre-name">
        <p><%= link_to genre.name, genre_memos_path(genre) %></p>
        …<%= link_to '削除', genre_path(genre.id), method: :delete %>
        …<%= link_to '編集', edit_genre_path(genre.id), method: :get %>
      </div>
    </div>
  <% end %>
</div>
<%= link_to "topページに戻る", root_path %>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'%>