<%# <div class="genre-header"> %>
  <%# <div class="create-genre"> %>
    <%# <%= link_to "ジャンルを作成", new_genre_path %>
  <%# </div> %>
<%# </div> %>
<div class="geres-lists">
  <div class="genre-list-name">
    <div class="genre-name">
      <p><%= link_to "ジャンルを作成", new_genre_path %></p>
    </div>
  </div>
  <% current_user.genres.each do |genre| %>
    <div class="genre-list-name">
      <div class="genre-name">
        <p><%= link_to genre.name, genre_memos_path(genre) %></p>
        …<%= link_to '削除', genre_path(genre.id), method: :delete %>
        …<%= link_to '編集', edit_genre_path(genre.id), method: :get %>
      </div>
    </div>
  <% end %>
</div>
<div class="home">
  <div class="icon">
    <%= link_to image_tag("home-icon.png", width: '40', alt: "サンプル画像"), root_path %>
    <br>home</br>
  </div>
  <div class="icon">
    <%= link_to image_tag("icon_038490_256.png", width: '40', alt: "サンプル画像"), destroy_user_session_path, method: :delete, class: 'btn'%>
    <br>ログアウト</br>
  </div>
</div>