<div class="wrapper">
  <div class="genre">
   <%= render "genre_bar" %>
  </div>
  <div class="memo">
    <div class="memos-space">
      <div class="memo-list">
        <p>ジェンル名:<span class="memo-genre-name"><%= @genre.name %></span></p>
        <p class="memo-title"><%= @memo.title %><%= l @memo.created_at%><p>
        <div>
          <%= @memo.text%>
        </div>
        <div>
          <%= image_tag @memo.image.variant(resize: '500x500'), class: 'memo-image' if @memo.image.attached? %>
        </div>
      </div>
      <%= form_with model: [@genre, @memo], class: 'form-input', local: true do |f| %>
        <%= f.label :編集, class: 'memo-create'%>
        <%= f.text_field :title, class: 'form-title', placeholder: ' title' %>
        <%= f.text_area :text, class: 'form-text', placeholder: 'text' %>
        <p class="momomo">
          <label class="form-image">
            <%= image_tag 'icon_002650_64.png', :size => '55x60', class: 'image-file' %>
            <span>画像</span>
            <%= f.file_field :image, class: 'hidden'%>
          </label>
          <%= f.submit '保存', class: 'form-submit' %>
        </p>
      <% end %>
    </div>
  </div>
</div>