<div class="wrapper">
   <div class="genre">
      <%= render "genre_bar" %>
   </div>
   <div class="memo">
      <%= form_with(url: search_genre_memos_path, local: true, method: :get, class: "search-form") do |form| %>
         <%= form.text_field :keyword, placeholder: "メモを検索", class: "search-input" %>
         <%= form.submit "検索", class: "search-btn" %>
      <% end %>
      <%= render "main_memo" %>
   </div>
</div>