<div class='wrapper'>
  <div class='genre'>
    <%= render "memos/genre_bar" %>
  </div>
  <div class="memo">
    <div>
      <%= form_with(url: search_genre_memos_path(@memos), local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "メモを検索", class: "search-input" %>
        <%= form.submit "検索", class: "search-btn" %>
      <% end %>
    </div>
    <div class="genre-box">
      <span class="genre-label" >メモ検索結果</span>
      <% @memos.each do |memo| %>
        <p class="memo-title"><%= memo.title %><%= l memo.created_at%><p>
      <% end %>
    </div>
  </div>
</div>